set /network-instance default admin-state enable
set /network-instance default ip-forwarding receive-ipv6-check true

set /interface ethernet-1/1 description "eBGP -> Core AS65000"
set /interface ethernet-1/1 admin-state enable
set /interface ethernet-1/1 subinterface 0 admin-state enable
set /interface ethernet-1/1 subinterface 0 ipv6 admin-state enable
set /interface ethernet-1/1 subinterface 0 ipv6 address 2001:db8:1::2/64
set /network-instance default interface ethernet-1/1.0

set /interface ethernet-1/2 admin-state enable
set /interface ethernet-1/2 subinterface 0 admin-state enable
set /interface ethernet-1/2 subinterface 0 ipv6 admin-state enable
set /interface ethernet-1/2 subinterface 0 ipv6 address 2001:db8:3::1/64
set /network-instance default interface ethernet-1/2.0

set /interface system0 admin-state enable
set /interface system0 subinterface 0 admin-state enable
set /interface system0 subinterface 0 ipv6 admin-state enable
set /interface system0 subinterface 0 ipv6 address 2001:db8:6502::1/128
set /network-instance default interface system0.0

set /network-instance default protocols bgp admin-state enable
set /network-instance default protocols bgp autonomous-system 65002
set /network-instance default protocols bgp router-id 10.2.0.1
set /network-instance default protocols bgp afi-safi ipv6-unicast admin-state enable

set /network-instance default protocols bgp group backbone-core admin-state enable
set /network-instance default protocols bgp group backbone-core description "ISP Core"
set /network-instance default protocols bgp group backbone-core afi-safi ipv6-unicast admin-state enable

set /network-instance default protocols bgp group backbone-transit admin-state enable
set /network-instance default protocols bgp group backbone-transit description "Transit AS65100"
set /network-instance default protocols bgp group backbone-transit afi-safi ipv6-unicast admin-state enable

set /network-instance default protocols bgp neighbor 2001:db8:1::1 admin-state enable
set /network-instance default protocols bgp neighbor 2001:db8:1::1 description "Core AS65000"
set /network-instance default protocols bgp neighbor 2001:db8:1::1 peer-as 65000
set /network-instance default protocols bgp neighbor 2001:db8:1::1 peer-group backbone-core

set /network-instance default protocols bgp neighbor 2001:db8:3::2 admin-state enable
set /network-instance default protocols bgp neighbor 2001:db8:3::2 peer-as 65100
set /network-instance default protocols bgp neighbor 2001:db8:3::2 peer-group backbone-transit
set /network-instance default protocols bgp neighbor 2001:db8:3::2 description "Transit AS65100"

set /routing-policy prefix-set PROVIDER1-INFRA prefix 2001:db8:6502::1/128 mask-length-range exact

set /routing-policy community-set CORE-CUSTOMERS member [65000:100]
set /routing-policy community-set CORE-INFRA member [65000:200]

set /routing-policy community-set PROVIDER1-INFRA member [65002:200]

set /routing-policy community-set TRANSIT-INFRA member [65100:200]

set /routing-policy community-set GOOGLE-SERVICES member [65150:100]
set /routing-policy community-set CLOUDFLARE-SERVICES member [65160:100]

set /routing-policy community-set GOOGLE-INFRA member [65150:200]
set /routing-policy community-set CLOUDFLARE-INFRA member [65160:200]

set /routing-policy policy IMPORT-FROM-CORE default-action policy-result reject

set /routing-policy policy IMPORT-FROM-CORE statement 10 match bgp community-set CORE-CUSTOMERS
set /routing-policy policy IMPORT-FROM-CORE statement 10 action policy-result accept

set /routing-policy policy IMPORT-FROM-CORE statement 20 match bgp community-set CORE-INFRA
set /routing-policy policy IMPORT-FROM-CORE statement 20 action policy-result accept

set /routing-policy policy EXPORT-TO-CORE default-action policy-result reject

#
# Mi propia infraestructura
#

set /routing-policy policy EXPORT-TO-CORE statement 10 match protocol local
set /routing-policy policy EXPORT-TO-CORE statement 10 match prefix-set PROVIDER1-INFRA
set /routing-policy policy EXPORT-TO-CORE statement 10 action bgp communities add PROVIDER1-INFRA
set /routing-policy policy EXPORT-TO-CORE statement 10 action policy-result accept

#
# Google
#

set /routing-policy policy EXPORT-TO-CORE statement 20 match bgp community-set GOOGLE-SERVICES
set /routing-policy policy EXPORT-TO-CORE statement 20 action policy-result accept

#
# Cloudflare
#

set /routing-policy policy EXPORT-TO-CORE statement 30 match bgp community-set CLOUDFLARE-SERVICES
set /routing-policy policy EXPORT-TO-CORE statement 30 action policy-result accept

set /routing-policy policy IMPORT-FROM-TRANSIT default-action policy-result reject

set /routing-policy policy IMPORT-FROM-TRANSIT statement 10 match bgp community-set TRANSIT-INFRA
set /routing-policy policy IMPORT-FROM-TRANSIT statement 10 action policy-result accept

set /routing-policy policy IMPORT-FROM-TRANSIT statement 20 match bgp community-set GOOGLE-SERVICES
set /routing-policy policy IMPORT-FROM-TRANSIT statement 20 action policy-result accept

set /routing-policy policy IMPORT-FROM-TRANSIT statement 25 match bgp community-set GOOGLE-INFRA
set /routing-policy policy IMPORT-FROM-TRANSIT statement 25 action policy-result accept

set /routing-policy policy IMPORT-FROM-TRANSIT statement 30 match bgp community-set CLOUDFLARE-SERVICES
set /routing-policy policy IMPORT-FROM-TRANSIT statement 30 action policy-result accept

set /routing-policy policy IMPORT-FROM-TRANSIT statement 35 match bgp community-set CLOUDFLARE-INFRA
set /routing-policy policy IMPORT-FROM-TRANSIT statement 35 action policy-result accept

set /routing-policy policy EXPORT-TO-TRANSIT default-action policy-result reject

#
# Clientes del ISP
#

set /routing-policy policy EXPORT-TO-TRANSIT statement 10 match bgp community-set CORE-CUSTOMERS
set /routing-policy policy EXPORT-TO-TRANSIT statement 10 action policy-result accept

set /routing-policy policy EXPORT-TO-TRANSIT statement 15 match bgp community-set CORE-INFRA
set /routing-policy policy EXPORT-TO-TRANSIT statement 15 action policy-result accept

#
# Mi infraestructura
#

set /routing-policy policy EXPORT-TO-TRANSIT statement 20 match protocol local
set /routing-policy policy EXPORT-TO-TRANSIT statement 20 match prefix-set PROVIDER1-INFRA
set /routing-policy policy EXPORT-TO-TRANSIT statement 20 action bgp communities add PROVIDER1-INFRA
set /routing-policy policy EXPORT-TO-TRANSIT statement 20 action policy-result accept

set /network-instance default protocols bgp group backbone-core import-policy [ IMPORT-FROM-CORE ]
set /network-instance default protocols bgp group backbone-core export-policy [ EXPORT-TO-CORE ]

set /network-instance default protocols bgp group backbone-transit import-policy [ IMPORT-FROM-TRANSIT ]
set /network-instance default protocols bgp group backbone-transit export-policy [ EXPORT-TO-TRANSIT ]

set /network-instance default protocols linux import-routes true
set /network-instance default protocols linux export-routes true
set /network-instance default protocols linux export-neighbors true
